<div class="background-image">
  <%= image_tag "merc1.jpg" %>
</div>

<h1>Born Free!</h1>

<div class="row">
  <div class="small-4 columns item">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajdslk asjdlakjsdlakjsdlka jsdlkajsdlkajsdlkajdlkajl as lkas dlkajs
    </p>
  </div>

  <div class="small-4 columns item">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajd slkasjdlakjsdlakjsdlkajsdlka jsdlkajsdlkajdlkajl as lkas dlkajs
    </p>
  </div>

  <div class="small-4 columns">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajds lkasjdlakjsdlakjsdlkajsdlkajsdl kajsdlkajdlkajl as lkas dlkajs
    </p>
  </div>

  <div class="small-4 columns">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajdslk asjdlakjsdlakjsdlkajsdlkaj sdlkajsdlkajdlkajl as lkas dlkajs
    </p>
  </div>

  <div class="small-4 columns end">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajd slkasjdlak sdlakjsdlkajsdlkajsdlkaj sdlkajdlkajl as lkas dlkajs
    </p>
  </div>
</div>

<!-- <div id="form" class="row">
  <div class="columns small-6 small-offset-3 panel">
    <form class="" action="index.html" method="post">
      <div class="row">
        <h3>Looking for Something Special?</h3>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Make
            <input type="text" placeholder="Mercedes Benz" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large- columns">
          <label>Model
            <input type="text" placeholder="C63 AMG" />
          </label>
        </div>

        <div class="large-4 columns">
          <label>Year
            <input type="text" placeholder="2016" />
          </label>
        </div>

        <div class="large-4 columns">
          <div class="row collapse">
            <label>Price</label>
            <div class="small-9 columns">
              <input type="text" placeholder="$$$$" />
            </div>

            <div class="small-3 columns">
              <span class="postfix">USD</span>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <input type="submit" class="button">
      </div>
    </form> -->
  </div>
</div>
