.background-image {
  background-color: #000000;
  background-size: cover;
  position: relative;
  max-width: 150%;
  padding-bottom: 4rem;

  // nice-grey-color: #36393B;
}

#form {
  background-color: #36393B;
}

.title-area {
  font-family: Playfair Display, serif;
  font-style: italic;
}
body {
  background-color: #36393B;
}
